
table {
	font-size: 13px;
	font-family: Apple Chancery, cursive;
	border-collapse: collapse;
	width: 100%;
	color: #ddd;
}

th {
	padding: 5px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

td {
    text-align: center;
    padding: 2px;
    font-weight: bold;
    font-style: italic; 
    color: black;
}

tr:hover {
    background-color: #ddd;
}