html {
    background-image: url('https://img.freepik.com/fotos-gratis/reserve-na-biblioteca-com-livro-aberto_1150-5920.jpg?w=1380&t=st=1681341825~exp=1681342425~hmac=ece9ed539c41553542bb97d9657445d38627553c1228600275bb10223bd8a82e');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

body {
    background-image: url("https://img.freepik.com/vetores-gratis/fundo-branco-com-hexagono-de-tecnologia-azul_1017-19366.jpg?w=1060&t=st=1680738504~exp=1680739104~hmac=7b61cf9f4eea578010d7d77edfad99d20f9571219890aa1f3a01e65fd6583e67");
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 80%;
    margin: auto;
    justify-content: center;
    position: relative;
    top: 7ch;
    border-radius: 10px;
    background-color: aliceblue;
}

.titulo {
    position: relative;
    top: -20%;
    left: 5%;
    font-size: 25px;
    text-align: center;
    font-family: Apple Chancery, cursive;
}

.titulo2 {
    position: relative;
    top: -20%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Apple Chancery, cursive;
}

.titulo3 {
    position: relative;
    top: -20%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Apple Chancery, cursive;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 20px;
}

a {
    text-decoration: none;
    background-color: rgb(250, 0, 0);
    color: white;
    border-radius: 10px;
    padding: 15px 10px;
    font-weight: bold;
    transition: background-color 0.5s ease;
}

a:hover {
    box-shadow: 0px 6px 16px -2px rgb(255, 0, 0)
}