<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
	<head>
		<meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    
	    <link rel="stylesheet" href="/Principal.css">
	    
	    <title>Biblioteca Necad - UFSC</title>    
	    
	</head>
	
	<body>
		
		<img src="Image/Necad.png" alt="Necad" style="width: 12%; position:relative; top:2%"> 
   		<img src="Image/ufsc.png" alt="" style="width: 10%; float:right;">
		
		<h1 class="titulo"> Biblioteca Necad - UFSC</h1>
		<h4 class="titulo2">Espaço desenvolvido para controle dos livros disponibilizados pelo <br>
                            Nucleo de estudos da Criança, Adolescente e Família
        </h4>

	    <p class="titulo3">Aqui poderá ser organizado e monitorado todos os livros presente no NECAD. <br>
 						   Podendo cadastrar os livros, realizar consultas, editar, deletar, ter o controle dos livros emprestados <br>
						   e ter uma visualização completa da sua Biblioteca. <br>
			 			<b>Selecione uma das opções abaixo que desejar: </b> 
	    </p>

		<ul>
		    <li><a href="/CadastrarLivros">Cadastrar Livros</a></li>
		    <li><a href="/CadastrarAlunos">Cadastrar Alunos</a></li>
		    <li><a href="/Consultar">Consultar</a></li>
		    <li><a href="/emprestar">Emprestar</a></li>
		</ul>
		
	</body>
	
</html>